.educacion .educacion-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.educacion .educacion-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}
